################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/out/build/x64-Debug
/.vs
.idea/.name
.idea/deployment.xml
.idea/interface_c_demo.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.vscode/settings.json
CMakeSettings.json
